/* Reset some default styles */
body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d574ed;
}

header {
    background-color:  #f75edd;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration:#d574ed;
    color: #fff;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #f75edd;
    box-shadow: 0 0 5px rgba(248, 248, 248, 0.951);
}

.project h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

img {
    width: 250px; 
    height: auto; 
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 650px;

}



